<!DOCTYPE html>
<html lang="en" style="height: 100vh; width: 100vw; box-sizing: border-box; margin: 0; padding: 0;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body style="height: 100vh; width: 100vw; box-sizing: border-box; display: flex; flex-direction: column; justify-content: center; align-items: center; margin: 0; padding: 0;">
    <center><h1>Register</h1></center>
    <form action="/api/register" method="post" style="display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 1vmin; width: 50vw;">
        <div class="username" style="display: flex; gap: 1vmin;">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" placeholder="Enter username">
        </div>    
        <div class="email" style="display: flex; gap: 1vmin;">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" placeholder="Enter email">
        </div> 
        <div class="password" style="display: flex; gap: 1vmin;">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" placeholder="Enter password">
        </div>  
        <input type="submit" value="register">
    </form>

</body>
</html>